{% extends 'dashboard/index.html.twig' %}

{% block title %}Nodo{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nodo</h6>
        </div>
        <div class="card-body">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Número</th>
                        <td>{{ nodo.number }}</td>
                    </tr>
                    <tr>
                        <th>Direcciones</th>
                        <td>{{ nodo.addresses|join(', ') }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ nodo.name }}</td>
                    </tr>
                </tbody>
            </table>
            {% if nodo.pdfs is not empty %}
                <div class="card">
                    <div class="card-header">
                        Archivos
                    </div>
                    <div class="card-body">
                        {% for pdf in nodo.pdfs %}
                            <p>
                                <b><a href="{{ asset(fies_upload ~ pdf.filePath) }}" title="Descargar" target="_blank">{{ pdf.filePath }}</a></b>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
