{% extends 'dashboard/index.html.twig' %}

{% block title %}Caja de extensi贸n{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Caja de extensi贸n</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Caja Abonado</th>
                            <th>Clientes</th>
                            <th>Direcci贸n</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subscriber_box_ext in subscriber_box_exts %}
                            <tr>
                                <td>{{ subscriber_box_ext.name }}</td>
                                <td><a href="{{ path('subscriber_box_show', {'id': subscriber_box_ext.subscriberBox.id }) }}">{{ subscriber_box_ext.subscriberBox }}</a></td>
                                <td>
                                    <ul>
                                        {% for customer in subscriber_box_ext.customers %} 
                                            <li>{{ customer }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{ subscriber_box_ext.address }}</td>
                                <td>
                                    <a href="{{ path('subscriber_box_ext_show', {'id': subscriber_box_ext.id}) }}" class="btn btn-primary btn-circle">
                                        <i class="fas fa-search-plus"></i>
                                    </a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('subscriber_box_ext_edit', {'id': subscriber_box_ext.id}) }}" class="btn btn-secondary btn-circle">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        {{ include('subscriber_box_ext/_delete_form.html.twig') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('subscriber_box_ext_new') }}" class="btn btn-primary">Nueva extensi贸n</a>
    {% endif %}
{% endblock %}
