{% extends 'dashboard/index.html.twig' %}

{% block title %}Puerto{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Puerto</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Nombre</th>
                            <th>Tarjeta</th>
                            <th>Latiguillo EDFA</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for olt_port in olt_ports %}
                            <tr>
                                <td>{{ olt_port.number }}</td>
                                <td>{{ olt_port.name }}</td>
                                <td>{{ olt_port.oltSlot }}</td>
                                <td>{{ olt_port.latiguilloEdfa }}</td>
                                <td>
                                    <a href="{{ path('olt_port_show', {'id': olt_port.id}) }}" class="btn btn-primary btn-circle">
                                        <i class="fas fa-search-plus"></i>
                                    </a>
                                    <a href="{{ path('olt_port_edit', {'id': olt_port.id}) }}" class="btn btn-secondary btn-circle">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    {{ include('olt_port/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a href="{{ path('olt_port_new') }}" class="btn btn-primary">Nuevo Puerto</a>
{% endblock %}
