{% extends 'dashboard/index.html.twig' %}

{% block title %}CPD{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">CPD</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Dirección</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cpd in cpds %}
                            <tr>
                                <td>{{ cpd.location }}</td>
                                <td>{{ cpd.latitude }}</td>
                                <td>{{ cpd.longitude }}</td>
                                <td>
                                    <a href="{{ path('cpd_show', {'id': cpd.id}) }}" class="btn btn-primary btn-circle">
                                        <i class="fas fa-search-plus"></i>
                                    </a>
                                    <a href="{{ path('cpd_edit', {'id': cpd.id}) }}" class="btn btn-secondary btn-circle">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    {{ include('cpd/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
                    
    <a href="{{ path('cpd_new') }}" class="btn btn-primary">Nuevo CPD</a>
{% endblock %}
