{% extends 'dashboard/index.html.twig' %}

{% block title %}Capas{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Capas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Color</th>
                            <th>Posición</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for layer_group in layer_groups %}
                            <tr>
                                <td>{{ layer_group.name }}</td>
                                <td><div style="display:block;width:30px;height:30px;background-color:{{ layer_group.hexaColor }};"></div></td>
                                <td>{{ layer_group.position }}</td>
                                <td>
                                    <a href="{{ path('layer_group_show', {'id': layer_group.id}) }}" class="btn btn-primary btn-circle">
                                        <i class="fas fa-search-plus"></i>
                                    </a>
                                    <a href="{{ path('layer_group_edit', {'id': layer_group.id}) }}" class="btn btn-secondary btn-circle">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    {{ include('layer_group/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a href="{{ path('layer_group_new') }}" class="btn btn-primary">Nueva Capa</a>
{% endblock %}
